<div class="control-group">
  <label class="control-label"><abbr title="required">*</abbr> <%= time %></label>
  <div class="controls">
	  <div class="datetimepicker input-append">
		  <%= f.text_field time, "data-format" => "MM/dd/yyyy HH:mm:ss" %>
	    <span class="add-on">
	      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
	      </i>
	    </span>
	  </div>
  </div>
</div>

